/*对各框架背景属性设置*/
html,body{height:100%;margin:0;padding:0;}
.header1{
    /*页眉插入背景图片的功能*/
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat; 
}
.main1{padding-bottom:100px;background-color: #bdb76b;}      /* main的padding-bottom值要等于或大于footer的height值 */
footer{height:100px;margin-top:-100px;color: black;text-align:center;background-color: #ffc0cb;}  /* margin-top（负值的）高度等于footer的height值 */
